@import 'extend/_general';
//
//  Color variables
//  _____________________________________________
//@color-blue3: #00699D;
@secondary__color: @color-blue3;

@secondary__color__darken: darken( @color-blue3, 15%);

@secondary__color__light: lighten(@secondary__color, 5%);
@navigation__background: @secondary__color__light;

@navigation-desktop-level0-item__color: @color-white;
@submenu-desktop-item__color: @color-gray34;

@navigation-desktop-level0-item__hover__color: @color-gray-light1;
@submenu-desktop-item__hover__color: @navigation-desktop-level0-item__hover__color;

@submenu-desktop-item__color: @secondary__color;

//  Tabs
//  ---------------------------------------------

@tab-control__background-color: @secondary__color__darken;
@tab-control__color: @color-white;
@tab-control__hover__color: @color-white;
@tab-control__active__color: @color-white;
@tab-content__background-color: @color-white;

//  Links
//  ---------------------------------------------

@color__orange: @color-orange-red1;
@link__color__dark: darken(@color__orange, 18%);
@link__color__light: lighten(@color__orange, 5%);

@link__color: @color__orange;
@link__visited__color: @link__color__light;
@link__hover__color: @link__color__dark;
@link__active__color: @link__color__dark;
